.appart {
	padding: 5px;
	border-radius: 20%;
}

#heading {
	text-align: left;
	padding:10px 0px;
}

.carte {
	padding:70px 40px;
}

.rouge {
	color:#E76465;
}

.input-rouge:focus {
	 outline: none !important;
	 border: none;
    
    box-shadow: 0 0 10px #E76465;

}

.no-padding-col {
	padding: 0px;
}

#avatar {
	border-radius: 50%;
	padding-left: 10px;
}